server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*" # 暴露所有端点，包括 metrics
  metrics:
    tags:
      application: wallet-demo # 全局 Tag

logging:
  level:
    root: INFO
    # 屏蔽 Chronicle 的 INFO 级别噪音（比如磁盘检查、映射文件扩容日志）
    net.openhft: WARN

j-atomic-ledger:
  base-dir: ./data/ledger-demo # 数据存储路径
  engine-name: wallet-core     # 引擎名称
  metrics-prefix: wallet       # metrics 前缀
  partitions: 4                # 分片数量
  queue-size: 65536            # 异步落库队列
  snapshot-interval: 50000     # 每5万条做一次快照
  enable-time-snapshot: true   # 开启时间快照
  snapshot-time-interval: 20s  # 多少时间保存一次快照，支持 ms、s、m、h、d 单位
  batch-size: 1000             # 批量落库大小
  idempotency: BLOOM           # 使用布隆过滤器去重
  routing: RENDEZVOUS          # 集群路由和节点内分片路由策略
  cluster:                     # 集群配置
    total-nodes: 1             # 集群节点总数
    node-id: 0                 # 当前节点 ID