# 1. Start Docker
# 2. Run command: docker-compose up -d
services:
  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos-standalone
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=false
      - NACOS_AUTH_TOKEN="VGhpc0lzTXlTZWNyZXRUb2tlbkZvck5hY29zRGV2MTIzCg=="
      - NACOS_AUTH_IDENTITY_KEY="nacos"
      - NACOS_AUTH_IDENTITY_VALUE="nacos"
    ports:
      - "8848:8080"
      - "9848:9848"
      - "9849:9849"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      # 挂载 Prometheus 配置文件 / Mount Prometheus configuration file
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      # 挂载一个共享目录，用于接收服务发现文件 / Mount a shared directory to receive service discovery files
      - ./prometheus/targets:/etc/prometheus/targets
    ports:
      - "9090:9090"
    # 重启策略，保证 Prometheus 在适配器挂掉后能重启 / Restart policy to ensure that Prometheus can restart after the adapter is down
    restart: always
    extra_hosts: # 将 host.docker.internal 指向 Docker 的内部网关地址 / Point host.docker.internal to the internal gateway address of Docker
      - "host.docker.internal:host-gateway"